<head>
  <title>Флэшкарточкер</title>
  <link rel="stylesheet" href="application.css">
</head>

<body>
  <section id="container">

    <header class="clearfix">
      <h1>Флэшкарточкер</h1>
      <ul class="navigation-links">
        <li><%= link_to "Все карточки", cards_path %></li>
        <li><%= link_to "Добавить карточку", new_card_path %></li>
      </ul>
    </header>

    <section>
      <p style="font-size: 22px;">
        Первый в мире удобный менеджер флеш-карточек. Именно так.
      </p>

      <p style="font-size: 22px;">
        <p>
          <%= if @result then 'Правильно' elsif @result == false then 'Не правильно' end %>
        </p>
        Введите перевод для слова
        <%= @random_card = Card.random; nil %>
        <% if @random_card %>
          <p><%= @random_card.translated_text %></p>
          <%= render partial: "original_text_form", locals: {card: @random_card} %>
        <% end %>
      </p>
    </section>

  </section>
</body>
