<body>
  <section>
    <p style="font-size: 22px;">
      Добавьте карточку
    </p>
  </section>

  <%= simple_form_for @card do |f| %>
    <%= f.input :original_text %>
    <%= f.input :translated_text %>
    <%= f.input :review_date %>
    <%= f.button :submit %>
  <% end %>
</body>